<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML Form</title>
  </head>
  <body>
    <form action="/login" , method="post">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="name" id="name" />
      <label for="name">Password</label>
      <input type="text" name="password" placeholder="password" id="password" />
      <button href="#" type="submit">OK</button>
    </form>
  </body>
</html>
